/** @format */

// COLORS
$color-primary: #ff7730;
$color-primary-dark: #cc5f26;
$color-primary-light: #ffb900;

$color-secondary: #55c57a;
$color-secondary-dark: #28b485;
$color-secondary-light: #7ed56f;

// Grey colors
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #e7e7e7;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

// Additional colors
$color-white: #fff;
$color-black: #000;

$color-error: #ff3333;

// FONT
$default-font: sans-serif;

// FONT SIZE
$default-font-size: 1.6rem;
$small-font-size: 1.4rem;
$large-font-size: 1.8rem;

// FONT WEIGHT
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 500;

// SPACING
$default-spacing: 3rem;
$small-spacing: 1.5rem;
$large-spacing: 4.5rem;

// BORDER RADIUS
$default-radius: 2px;
$large-radius: 5px;

// The following variables are used in the components and need testing

// // BUTTONS

// $button-padding: 1rem 2rem;
// $button-border-radius: $default-radius;
// $button-font-size: $default-font-size;
// $button-font-weight: $font-weight-bold;

// // FORMS
// $input-border: 1px solid $color-grey-dark-2;
// $input-border-radius: $default-radius;
// $input-padding: 1rem;
// $input-font-size: $default-font-size;

// // NAVIGATION
// $nav-height: 6rem;
// $nav-background-color: $color-primary;
// $nav-text-color: $color-white;
// $nav-link-padding: 1rem;
// $nav-link-font-size: $default-font-size;
// $nav-link-font-weight: $font-weight-bold;

// // CARDS
// $card-border-radius: $default-radius;
// $card-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
// $card-padding: 2rem;
// $card-title-font-size: $large-font-size;
// $card-title-font-weight: $font-weight-bold;
// $card-text-color: $color-grey-dark-1;

// // MODAL
// $modal-overlay-background-color: rgba(0, 0, 0, 0.5);
// $modal-content-background-color: $color-white;
// $modal-content-padding: 2rem;
// $modal-close-button-size: 2rem;
// $modal-close-button-color: $color-grey-dark-1;
// $modal-close-button-hover-color: $color-grey-dark-2;
