/** @format */

body {
	padding: 0;
}

.login {
	height: 100vh;
	background-image: linear-gradient(
			to right,
			rgba($color-secondary-dark, 0.6),
			rgba($color-primary-dark, 0.6)
		),
		url('public/Login-Image-cropped.webp');
	background-size: cover;
	background-position: center;
}
