/** @format */
.logo {
	margin: 0 auto;
	display: block;
	width: 8rem; // Adjust the width as desired
}

.link {
	&:link,
	&:visited {
		display: inline-block;
		font-size: $small-font-size;
		font-weight: $font-weight-bold;
		text-decoration: none;

		// To make the text color linear gradient we need to set color to transparent and background to linear gradient with clip
		background: linear-gradient(to bottom, $color-secondary-dark, $color-secondary-light);
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
		transition: all 0.5s ease;
	}

	&:hover {
		background-clip: border-box;
		padding: 0 2px;
		color: $color-white;
		box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
		transform: translateY(-2px);
	}

	&:active {
		box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
		transform: translateY(0);
	}
	&:focus {
		box-shadow: none;
	}
}
