/** @format */

.header__container {
	padding-top: 2rem;
	padding-left: 2rem;
	padding-right: 2rem;
	box-shadow: 1px 0 10px rgba(0, 0, 0, 0.5);
	min-height: 100vh;
}

.header {
	position: fixed;
	display: flex;
	flex-direction: column;

	height: 100vh;

	&__logo-container {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1rem;
	}

	&__logo-image {
		width: 5rem;
	}

	&__logo-text {
		font-size: 2.5rem;

		background: linear-gradient(to bottom, #f76b1c 10%, #f9cf59);
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
	}
}

.page__list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 2rem;

	&-username {
		font-size: 2.5rem;
		font-weight: 700;
	}

	&-elements {
		font-size: 2rem;
		font-weight: 500;
		transition: all 0.2s ease;

		&:hover {
			cursor: pointer;
			color: $color-primary-light;
		}
	}
}

.profile-pic {
	font-size: 78px;
	margin-bottom: -6rem;
}

a {
	text-decoration: none;
	color: inherit;
}

.page__list .active {
	background: linear-gradient(to bottom, #f76b1c 10%, #f9cf59);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}
